URxvt.inputMethod: ibus
URxvt.preeditType: OverTheSpot
xrenoise.use_xcursors:	1
xrenoise.display:	:0.0
xrenoise.display_resource:	0x00,0x01,0x9B,0x85,0x68,0x08,0xD5,0x65
xrenoise.executable_path:	/home/mikeri/Stuff/Renoise_2_8_1_Demo_x86_64/renoise
URxvt*termName: rxvt-unicode-256color
URxvt*saveLines: 1000000
URxvt*background:  #1b1d1e
URxvt*foreground:  #a8a8a8
URxvt*scrollBar_right:	true
URxvt*scrollBar:	false
URxvt*inheritPixmap:	false
URxvt*geometry:		84x24
URxvt*tint:		white
URxvt*font: xft:gohufont:style=Regular:pixelsize=13
URxvt*boldFont: xft:gohufont:style=Bold:pixelsize=13
URxvt*color0:     #1b1d1e
URxvt*color1:     #cc5555
URxvt*color2:     #739f12
URxvt*color3:     #ccc355
URxvt*color4:     #4072bc
URxvt*color5:     #6f38df
URxvt*color6:     #42aec2
URxvt*color7:     #b9b9b9
URxvt*color8:     #505354
URxvt*color9:     #ff8888
URxvt*color10:    #c2e86f
URxvt*color11:    #fffcbb
URxvt*color12:    #99bbee
URxvt*color13:    #bd9cff
URxvt*color14:    #9dedfb
URxvt*color15:    #ffffff
URxvt*urgentOnBell:  true
URxvt*visualBell:    true
URxvt*fading:           20
URxvt*fadeColor:        black
URxvt*blurRadius:       5
URxvt.matcher.rend.0: -Uline
## URxvt*perl-lib:         /home/david/.urxvt
URxvt*perl-ext: default,matcher,keyboard-select,-readline,-selection
## URxvt*perl-ext-common: default,matcher,digital-clock,monit
URxvt*url-Launcher:firefox
URxvt*jumpScroll: true
URxvt*scrollWithBuffer: true
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt*cursorBlink: true
URxvt*blinkRate: 15
 
URxvt.matcher.button: 1

## xterm config
XTerm*fastScroll: True
XTerm*termName:   xterm-256color
XTerm*background: #1b1d1e
XTerm*foreground: #A8A8A8
XTerm*color0:     #1b1d1e
XTerm*color1:     #cc5555
XTerm*color2:     #739f12
XTerm*color3:     #ccc355
XTerm*color4:     #4072bc
XTerm*color5:     #6f38df
XTerm*color6:     #42aec2
XTerm*color7:     #b9b9b9
XTerm*color8:     #505354
XTerm*color9:     #ff8888
XTerm*color10:    #c2e86f
XTerm*color11:    #fffcbb
XTerm*color12:    #99bbee
XTerm*color13:    #bd9cff
XTerm*color14:    #9dedfb
XTerm*color15:    #ffffff
XTerm*faceName:   xft:gohufont:style=Regular:pixelsize=13
XTerm*font: xft:gohufont:style=Regular:pixelsize=13
XTerm*cursorBlink: true
XTerm*cursorOffTime: 500
XTerm*cursorOnTime: 500
XTerm*internalBorder: 2
XTerm*borderWidth: 0
XTerm*fade: 15
XTerm*shading: 15
XTerm*truetintingType: true
XTerm*tinting: #ffffff

## xterm config
UXTerm*fastScroll: True
UXTerm*termName:   xterm-256color
UXTerm*background: #1b1d1e
UXTerm*foreground: #A8A8A8
UXTerm*color0:     #1b1d1e
UXTerm*color1:     #cc5555
UXTerm*color2:     #739f12
UXTerm*color3:     #ccc355
UXTerm*color4:     #4072bc
UXTerm*color5:     #6f38df
UXTerm*color6:     #42aec2
UXTerm*color7:     #b9b9b9
UXTerm*color8:     #505354
UXTerm*color9:     #ff8888
UXTerm*color10:    #c2e86f
UXTerm*color11:    #fffcbb
UXTerm*color12:    #99bbee
UXTerm*color13:    #bd9cff
UXTerm*color14:    #9dedfb
UXTerm*color15:    #ffffff
UXTerm*faceName:   xft:gohufont:style=Regular:pixelsize=13
UXTerm*font: xft:gohufont:style=Regular:pixelsize=13
UXTerm*cursorBlink: true
UXTerm*cursorOffTime: 500
UXTerm*cursorOnTime: 500
UXTerm*internalBorder: 2
UXTerm*borderWidth: 0
UXTerm*fade: 15
UXTerm*shading: 15
UXTerm*truetintingType: true
UXTerm*tinting: #ffffff

Xcursor.theme: ComixCursors-Blue-Large
