{{- define "fg" -}}{{printf "\033[38;5;%vm" .}}{{- end -}}
{{- define "bg" -}}{{printf "\033[48;5;%vm" .}}{{- end -}}
{{- define "reset" -}}{{"\033[0m"}}{{- end -}}
{{- define "bold" -}}{{"\033[1m"}}{{- end -}}
{{- define "nobold" -}}{{"\033[22m"}}{{- end -}}
{{with .Message -}}
{{. -}}
{{else with .Stat -}}
{{template "reset"}}{{template "bg" 236 -}}
{{template "fg" 118}}{{.Permissions}}{{template "fg" 250 -}}
{{with .LinkCount}} {{.}}{{end -}}
{{with .User}} {{template "fg" 159}}{{.}}{{template "fg" 250}}{{end -}}
{{with .Group}} {{template "fg" 159}}{{.}}{{template "fg" 250}}{{end -}}
{{template "fg" 226}}{{.Size | humanize | printf "%5s"}}{{template "fg" 250 -}}
{{.ModTime | printf " %s" -}}
{{with .Target}} {{template "fg" 244}}-> {{template "fg" 254}}{{.}}{{template "fg" 250}}{{end -}}
{{end -}}
{{.SPACER -}}
{{with .Keys}} {{.}}{{end -}}
{{with .Progress}} {{join . " "}}{{end -}}
{{with .Cut}} {{len . | printf "%d"}}{{end -}}
{{with .Copy}} {{len . | printf "%d"}}{{end -}}
{{with .Select}} {{template "bold"}}{{template "fg" 48}}{{len .}}{{template "nobold"}}{{template "fg" 250}}{{end -}}
{{with .Filter}} {{join . " "}}{{end -}}
{{" " -}}
{{template "fg" 245}}{{.Index}}{{template "fg" 240}}/{{template "fg" 245}}{{.Total -}}
